{% extends "layout.html" %}

{% block content %}



<div class="row">
    <img class="contain" src={{ img_tichonet }} alt='Missing'>
</div>
<div class="row">
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2 class="heb"></h2>
        <p class="heb">
            
        </p>
    </div>
    <div class="col-md-8">
        <h2 class="heb">על הפרויקט</h2>
        <p class="heb">
            הפרויקט הינו במסגרת מקצוע "מדעי הנתונים", של תלמידי שכבת י', תש"פ בתיכונט ע"ש אלתרמן בתל אביב.
            <br /><br />
            הפרויקט משלב שני תחומי ידע עיקריים:
            <br /><br />
            * תכנות בסביבת האינטרנט
            <br />
            * מדעי הנתונים
            <br /><br />
            במסגרת הפרויקט איתרתי מאגרי מידע ברשת ובכוונתי לבנות  סביבם אתר אינטרנט המאפשר גישה אל מאגרי המידע, ניתוח נתונים והצגתם בצורה נוחה למשתמשים. האתר יאפשר למשתמש לחקור את הנתונים בתחום הנבחר ולנסות להגיע לתובנות ומסקנות בעלות ערך.
            <br /><br />
            הפרויקט יתבסס על המרכיבים הטכנולוגיים הבאים:
            <br /><br />
            * שפת פייתון.
            <br />
            * ספריית Pandas.
            <br />
            * תשתית Flask לבניית שרת אינטרנט.
        </p>
    </div>
</div>

<div class="row my-grid-borders">
    <table class="table table-striped heb">
        <tbody>
            <tr>
                <td>מסמך איפיון שמתאים למשימה 5130</td>
                <td><a class="btn btn-primary heb" href="https://drive.google.com/open?id=1VY1kC64RcFJGaFei-XUgMLrdy4CIS3PR" target="_blank">Go &raquo;</a></td>
            </tr>
            <tr>
                <td>לינק לקוד ב GitHub</td>
                <td><a class="btn btn-primary heb" href="https://github.com/Oran-Uzrad/MyFinalProject.git" target="_blank">Go &raquo;</a></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
