{% extends "layout.html" %}

{% block content %}



<div class="row">
    <img class="contain" src={{ img_tichonet }} alt='Missing'>
</div>
<div class="row">
    <h2></h2>
    <br /><br />
</div>
<div class="row">
    <div class="col-md-6">
        <h2 class="heb">Oran Uzrad - אורן עוזרד</h2>
        <h4 class="heb">oran@uzrad.net</h4>
    </div>
    <div class="col-md-1">
        
    </div>
    <div class="col-md-5">
        <img class="contain" src={{ img_oran }} alt='Missing'>
    </div>
</div>

{% endblock %}