{% extends "layout.html" %}


{% block content %}

<div class="jumbotron">
    <h1 class="heb">מדדי הפופולריות של נשיאי ארצות הברית</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 class="heb">נושא העבודה, תחום המחקר</h2>
        <p class="heb">
            נשיא ארצות הברית של אמריקה הוא/היא הדמות הפוליטית הבכירה ביותר בעולם ונתפס כ"מנהיג העולם החופשי".
            <br /><br />
            נשיא ארה"ב הוא ראש הרשות המבצעת במדינה והוא גם המפקד העליון של הצבא.
            כוחו של נשיא ארה"ב בא מתוך חוקת המדינה. הנשיא מוביל את מדיניות החוץ והפנים של המדינה, ממנה משרות בכירות בממשל ואחראי לאכיפת החוקים הפדראלים של המדינה.
            <br /><br />
            כדי להציג מועמדות לנשיאות, אדם חייב למלא שלושה תנאים. הוא חייב להיוולד בארה"ב, הוא חייב להיות בן 35 ומעלה והוא חייב לגור במדינה במשך 14 שנים לפחות.
            הנשיא נבחר לתקופת כהונה של ארבע שנים. הוא יכול להיבחר לתקופה נוספת של ארבע שנים, אבל לא יותר מכך.
            <br /><br />
            הפופולריות של הנשיאים תוך כדי כהונתם, היא נתון סטיסטי שמעניין מאוד את הציבור האמריקאי ובכלל. לנתונים אלה יש השפעה פוליטית משמעותית, הם מכוונים את מדיניות הנשיא והממשל כולו, סוג של משוב מיידי על תפקוד הזרוע המבצעת. לנתונים אלה יש משנה חשיבות לקראת בחירות הקדנציה השניה של נשיא מכהן.
            <br /><br />
            בעבודה זה אאפשר לבחון את נתוני הפופולריות של אבעת הנשיאים בתקופות שיגדיר המשתמש ואתן את היכולת להשוות בין הנשיאים בתקופות מקבילות של כהונתם

        </p>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
        <br /><br /><br /><br /><br />
        <img class="contain" src={{ img_american_flag }} alt='Missing'>
    </div>
</div>




{% endblock %}
