{% extends "layout.html" %}

{% block content %}

<h2 class="heb">משאבים לטובת הפרויקט הסופי</h2>
<h3 class="heb">בדף הזה תמצאו קישורים להסברים על איך ליישם דברים שאולי תרצו ליישם בפרוייקט הסופי שלכם</h3>
<br>
<br>
<br>
<br>

<div class="row">
    <div class="col-md-4 mfp_background_sandybrown">
        <h4 class="heb">איך לכלול טקסט בעברית שייראה יפה</h4>
        <p class="heb">
            לחיצה על הקישור כאן תפנה אתכם לדף עם הוראות איך לכלול טקסט בעברית בתוך
            העמוד שלכם. למעשה הטקסט הזה שאתם קוראים כאן הוא בעיברית, בתור התחלה אתם יכולים להסתכל על קוד המקור
        </p>
        <p><a class="btn btn-primary heb" href="https://docs.google.com/document/d/1ywaeObj_XorjeSEVIih7ZYz0NLz7cLDF957570ql3hQ/edit?usp=sharing" target="_blank">קרא עוד &raquo;</a></p>
    </div>
    <div class="col-md-4 mfp_background_gainsboro">
        <h4 class="heb">Expand-Collapses</h4>
        <p class="heb">
            איך פורסים את הטבלה ומקפלים אותה. יש כאן קישור שמראה איך עושים את זה צעד אחרי צעד.
        </p>
        <p><a class="btn btn-primary heb" href="https://docs.google.com/document/d/1COmkednwsAq88nj_Ittgf6YsszrIWpaGXdf92iheTwE/edit?usp=sharing" target="_blank">קרא עוד &raquo;</a></p>
    </div>
    <div class="col-md-4 mfp_background_ivory">
        <h4>Upload to pythonanywhere</h4>
        <p class="heb">איך מעלים את הקוד לאירוח </p>
        <p><a class="btn btn-primary heb" href="https://docs.google.com/document/d/18YpoQxmUEahcIntkRSEp-_7kL-75ybTPZGAJLQ0-Ziw/edit?usp=sharing" target="_blank">קרא עוד &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mfp_background_gainsboro">
        <h4 class="heb">הגדרת פרויקט סיום</h4>
        <p class="heb">
            לחיצה על הקישור כאן תפנה אתכם למסמך דרישות פרויקט הסיום
        </p>
        <p><a class="btn btn-primary heb" href="https://drive.google.com/open?id=1jDyeBCLJ8__ChD097tjsYNBJ6HEvSirH" target="_blank">קרא עוד &raquo;</a></p>
    </div>
    <div class="col-md-4 mfp_background_ivory">
        <h4 class="heb">
            5120 – Data Page in Your Final Project
        </h4>
        <p class="heb">
            קישור למצגת 5120 המתארת את דפי הדאטה
        </p>
        <p><a class="btn btn-primary heb" href="https://drive.google.com/open?id=1ojMGqLqKuj4EHpaDI_mQb9REvopOxZv5" target="_blank">קרא עוד &raquo;</a></p>
    </div>
    <div class="col-md-4 mfp_background_sandybrown">
        <h4 class="heb">
            5220 – Page Layout and Embedding Text File
        </h4>
        <p class="heb">
            How to use the grid syatem and how to kink static text files
        </p>
        <p><a class="btn btn-primary heb" href="https://drive.google.com/open?id=1GrRD4EGB8RD1Dg4bV53zv-5gYk_BNhWp" target="_blank">קרא עוד &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mfp_background_ivory">
        <h4 class="heb">5130 - השלמת מודל הנתונים</h4>
        <p class="heb">
            דרישות והוראות להגשת משימת הדאטה
        </p>
        <p><a class="btn btn-primary heb" href="https://drive.google.com/file/d/1z0Rzmn-Y9YbOUi2sVjPd2uKzOmo8cDzH/view" target="_blank">קרא עוד &raquo;</a></p>
    </div>
    <div class="col-md-4 mfp_background_sandybrown">
        <h4 class="heb">
            בעיות עם טקסט בעברית. פתרון כמה בעיות נפוצות עם טקסט בעברית באתר שלכם.
        </h4>
        <p class="heb">
        <p><a class="btn btn-primary heb" href="https://docs.google.com/document/d/1Z5FNsK48YOlTfCsIpZgM5rZxSEbEU89JsxWIuywzXhA/edit?usp=sharing" target="_blank">קרא עוד &raquo;</a></p>
        </p>
    </div>
    <div class="col-md-4 mfp_background_gainsboro">
        <h4 class="heb">
            TBD
        </h4>
        <p class="heb">
            TBD
        </p>
        <p><a class="btn btn-primary heb" href=# target="_blank">קרא עוד &raquo;</a></p>
    </div>
</div>

{% endblock %}

